@page
@model CityWasp.TripConfirmationViewModel
@{
    ViewData["Title"] = "TripConfirmationView";
}

<h1>TripConfirmationView</h1>

<div>
    <a asp-page="View">Atšaukti</a>
</div>

<div>
    <a asp-page="Index">Į sąrašą</a>
</div>