@page
@model CityWasp.StartTripModel
@{
    ViewData["Title"] = "StartTrip";
}

<h1>StartTrip</h1>

<div>
    <a asp-page="Index">End trip</a>
</div>

<div>
    <a asp-page="Index">Start trip</a>
</div>

<div>
    <a asp-page="Index">Reserve car</a>
</div>



